{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Icoder Bloging website</h1>
      <p>Looking for some free blog sites to help you start sharing your writing with the world? Whether you just want to share updates with your family and friends or you want to start a blog and build a broader audience, we’ve put together ten great sites where you can start a blog for free.

We’ll also try to steer you towards the specific platform that’s best for you so that you can easily create a blog for free.
On the opposite side, there’s WordPress.com, which is the other face of WordPress – a platform used mostly for personal blogs because it’s easy to set up and free (if you’re okay not having a custom domain name). However, you’re also quite limited in the way you can customize the site.

And especially if your plan is to monetize your blog in any way, the free WordPress.com version will prevent you from doing that.

Considering this, we recommend you to get started with Icoder. There is a 30-day money-back guarantee in place – in case you change your mind with the whole blogging experiment, just ask for a refund.
</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">


    </div>

    <hr>

  </div> <!-- /container -->

</main>

 {% endblock %}